body {
    background-image: url("media/wall.jpeg");
    align-items: center;
    margin-top: 10rem;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    border-radius: 1rem;
    border: 3px solid rgb(128, 38, 0);
    background-color: rgb(72, 192, 182);
    padding: 10px;
}